@model IEnumerable<hotel_version1._0.HOTEL_EMPLOYEE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "HOTEL_EMPLOYEE", FormMethod.Post))
{
    <div class="searchBlock">
        @Html.TextBox("searchString")
        <input type="submit" value="搜索" />
    </div>
}

@*@using (Html.BeginForm("Index", "HOTEL_EMPLOYEE",new { EMP_ID = "EMP_ID" }, FormMethod.Post, new { id = "sortID", @class = "navbar-right" }))
{
@Html.AntiForgeryToken()

<input type="image" src="~/Content/arrow.png" alt="submit" name="msg" value="down" />

}*@


<table class="table-1">
    <tr>
        <th>
            职工号
        </th>
        <th>
            职工姓名
        </th>
        <th>
            职工部门
        </th>
        <th>
            电话号码
        </th>
        <th>
            薪资
        </th>
        <th>
            奖金
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONENUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOTEL_EMPLOYEE_TYPE.SALARY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BONUS)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EMP_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EMP_ID })
            </td>
        </tr>
    }

</table>
