@model PagedList.IPagedList<hotel_version1._0.HOTEL_CUSTOMER>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

<h2>客户信息</h2>
<h4 style="margin-top: 5px">
    @Html.ActionLink("SHOW ALL", "Index")
</h4>


@using (Html.BeginForm("Index", "HOTEL_CUSTOMER", FormMethod.Post))
{
    <div class="searchBlock">
        <div class="search bar1">
            @Html.TextBox("searchString")
            <button type="submit"></button>
        </div>
    </div>
}
<table class="table-1">
    <tr>
        <th>
            @using (Html.BeginForm("Sort", "HOTEL_CUSTOMER", new { message = "CUS_ID" }, FormMethod.Post))
            {
                <input type="submit" value="客户身份证号" class="sortInput" />
            }
           
        </th>
        <th>
            
            @using (Html.BeginForm("Sort", "HOTEL_CUSTOMER", new { message = "NAME" }, FormMethod.Post))
            {
                <input type="submit" value="客户姓名" class="sortInput" />
            }
        </th>

        <th>
            @using (Html.BeginForm("Sort", "HOTEL_CUSTOMER", new { message = "REPUTATION" }, FormMethod.Post))
            {
                <input type="submit" value="信用等级" class="sortInput" />
            }
            
        </th>

        <th>
            @using (Html.BeginForm("Sort", "HOTEL_CUSTOMER", new { message = "CUS_TEL" }, FormMethod.Post))
            {
                <input type="submit" value="客户电话" class="sortInput" />
            }
           
        </th>
        <th>@Html.ActionLink("新建", "Create") </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CUS_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REPUTATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEL_NUMBER)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUS_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUS_ID })
        </td>
    </tr>
}
</table>

每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))