@model IEnumerable<hotel_version1._0.HOTEL_ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "HOTEL_CUSTOMER", FormMethod.Post))
{
    <div class="searchBlock">
        @Html.TextBox("searchString")
        <input type="submit" value="搜索" />
    </div>
}
<table class="table-1">
    <tr>
        <th>
            <strong>订单号</strong>
        </th>
        <th>
            <strong>客户姓名</strong>
        </th>
        <th>
            <strong>房间类型</strong>
        </th>
        <th>
            <strong>预定时间</strong>
        </th>
        <th>
            <strong>订单状态</strong>
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEL_BILL.ORDER_ID)
        </td>
        <td>
           
            @Html.DisplayFor(modelItem => item.HOTEL_CUSTOMER.NAME)
        </td>
        <td>
           
            @Html.DisplayFor(modelItem => item.HOTEL_ROOM.ROOM_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESERVE_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ORDER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ORDER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ORDER_ID })
        </td>
    </tr>
}

</table>
